<section class=detail>
  <img src=<%=book.image_url %>>
  <h3><%= book.title %></h3>
  <p><em><%= book.author %></em></p>
  <p class="description"><%= book.description %></p>
  <p><em>ISBN: <%= book.isbn %></em></p>
  <p><em>Bookshelf: <%= book.bookshelf %></em></p>
  <div class="buttons">
    <button id="update-details">Update Details</button>
    <button id="delete-book">Delete Book</button>
  </div>
</section>

<%- include('edit', {book: book}) %>