<section class=detail>
  <img src=<%=book.image_url %>>
  <h3><%= book.title %></h3>
  <p><em><%= book.author %></em></p>
  <p class="description"><%= book.description %></p>
  <p><em>ISBN: <%= book.isbn %></em></p>
  <p><em>Bookshelf: <%= book.bookshelf %></em></p>
</section>