<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>
  <section>
    <h2>Search Results</h2>
  </section>
  <main>
    <ul>
      <% books.forEach(book => { %>
        <li>
          <img src=<%=book.image %>>
          <h3><%= book.title %></h3>
          <p><em><%= book.author %></em></p>
          <p><%= book.description %></p>
        </li>
      <% }) %>
    </ul>
  </main>
  <%- include('../../layout/footer') %>
</body>
</html>