<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
<body>
  <div class="wrapper">
    <%- include('../layout/header') %>
  
    <%- include('../layout/subheader', {
      message: 'Sever Error',
      index: false
    }) %>
  
    <main>
      <p><%= error %></p>
    </main>
    <div class="push"></div>
  </div>

  <%- include('../layout/footer') %>
</body>
</html>