<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
  <%- include('../layout/header') %>

  <section>
    <h2><span><%= books.length %></span> Saved Books</h2>
  </section>
  <main>
    <ul>
      <% books.forEach(book => { %>
        <li>
          <img src=<%=book.image_url %>>
          <h3><%= book.title %></h3>
          <p><em><%= book.author %></em></p>
          <button>View Details</button> 
        </li>
      <% }) %>
    </ul>
    
  </main>

  <%- include('../layout/footer') %>
</body>
</html>