<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
  <%- include('../layout/header') %>

  <!-- <section id="subheader">
    <h2><span><%= books.length %></span> Saved Books</h2>
  </section> -->

  <%- include('../layout/subheader', {
    message: 'Saved Books',
    index: true
  }) %>
  
  <main>
      <% books.forEach(book => { %>
          <%- include('books/detail', {book: book}) %>
      <% }) %>
  </main>

  <%- include('../layout/footer') %>
</body>
</html>